@import 'reset';
@import 'variable';
@import 'mixins';

html{
    font-size: 10px;
}

.header{

}

.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    flex-direction: column;

    @include screen-sm{
        background-color: lightcoral;
    }

    @include screen-md{
        background-color: lightblue;
    }

    @include screen-lg{
        background-color: lightyellow;
    }

    @include screen-xl{
        background-color: lightslategrey;
    }
}

.footer{

}

.title{
    color: black;
    font-size: 3.6rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    
}

.description{
    color: black;
    font-size: 2.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}